@font-face {
  font-family: 'Inter';
  src: local('Inter'),
    url(./Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

.page {
  min-width: 1280px;
  background-color: #2A2C2F;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .page {
    min-width: 1024px;
  }
}

@media screen and (max-width: 1023px) {
  .page {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .page {
    min-width: 320px;
  }
}

.header {
  padding: 0;
  margin: 0;
  height: 52px;
  padding: 28px 48px 56px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 16px 16px 48px;
  }
}

.header__logo {
  padding: 0;
  margin: 0;
  width: 176px;
  height: 52px;
  position: absolute;
  left: 48px;
  top: 28px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}

.header__lang-link {
  padding: 0;
  margin: 0;
  padding-left: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
  max-width: 30px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    max-width: 22px;
    line-height: 20px;
  }
}

.header__lang-link:active {
  text-decoration: underline;
}

.header__lang-link:hover {
  opacity: .8;
}

.lead {
  padding: 0;
  margin: 0;
  display: grid;
  color: #FFFFFF;
  max-width: 984px;
  align-self: center;
}

@media screen and (max-width: 1279px) {
  .lead {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    width: 100%;
  }
}

.lead__title {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  max-width: 720px;
  text-align: center;
  padding-bottom: 32px;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
line-height: 44px;
  }
}

.lead__subtitle {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  max-width: 640px;
  padding-bottom: 64px;
  justify-self: center;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
padding-bottom: 56px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
line-height: 20px;
padding-bottom: 40px;
  }
}

.lead__image {
  padding: 0;
  margin: 0;
  width: 100%;
}

.lead__caption {
  padding: 0;
  margin: 0;
}

.intro {
  padding: 0;
  margin: 0;
  padding-top: 92px;
  width: 690px;
  color: white;
  padding-right: 294px;
  align-self: center;
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 64px;
  }
}

.intro_title {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro_text {
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 33px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

.intro_list {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.photo__grid {
  align-self: center;
  min-width: 1184px;
  min-height: 671px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .photo__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
    min-width: 928px;
    min-height: 942px;
    object-fit: contain;
  }
}

@media screen and (max-width: 1023px) {
  .photo__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
    min-width: 720px;
    min-height: 1664px;
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .photo__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
    min-width: 288px;
    min-height: 2724px;
    object-fit: contain;
  }
}



.grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.places {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-bottom: 12px;
  min-width: 320px;
}

.place {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto 460px;
  align-self: center;
  color: white;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  padding-bottom: 80px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    grid-template-rows: auto 440px;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: auto auto;
    padding-bottom:73px;
    grid-column-gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 320px;
    grid-template-rows: repeat(5 auto);
    padding-bottom:50px;
    grid-row-gap: 32;
    grid-column-gap: 0;
  }
}

.place__title {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
line-height: 35px;
  }
}

.place__image {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1023px) {
  .place__image {
   max-height: 340px;
  }
}

@media screen and (max-width: 767px) {
  .place__image {
   max-height: 320px;
  }
}

.place__website {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column-reverse;
}

.place__website__url-heading {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  padding-bottom: 12px;
}

.place__website__link {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.place__website__link:hover {
  opacity: .8;
}

.place__paragraph {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  padding-bottom: 26px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
line-height: 163%;
  }
}


@media screen and (max-width: 767px) {
  .place__paragraph:last-child {
    padding-bottom: 0;
  }
}

.cover {
  display: flex;
  padding: 92px auto;
  min-width: 1184px;
  min-height: 740px;
  background-image: url(./images/__background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

@media screen and (max-width: 1279px) {
  .cover {
   min-width: 1024px;
   height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    min-width: 768px;
    min-height: 62.5vw;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    min-width: 320px;
  }
}

.cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition-duration: 0.5s;
}

.cover:hover::before {
  opacity: 0.8;
}


.cover__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
  }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
  }
}

@media screen and (max-width: 1279px) {
  .cover__overlay {
  }
}

.cover__title {
  font-family: 'Inter';
  margin: 0 auto;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
line-height: 35px;
  }
}

.cover__subtitle {
  font-family: 'Inter';
  margin: 32px auto 0;
  max-width: 360px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
line-height: 16px;
  }
}

.footer {
  display: flex;
  margin: 0;
  padding: 92px 48px 24px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0;
    padding-top: 64px;
    padding-bottom: 24px;
  }
}

.footer_link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  padding-right: 18px;
}

@media screen and (max-width: 767px) {
  .footer_link {
    padding: 0 16px 32px;
  }
}

.footer_link:hover {
  opacity: .8;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  width: 186px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: auto;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    padding-left: 16px;
  }
}