.footer__copyright {
  padding: 0;
  margin: 0;
  width: 186px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-left: auto;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    padding-left: 16px;
    padding-top: 16px;
  }
}